@font-face {
font-family: 'Learning Curve Dashed Pro';
font-style: normal;
font-weight: normal;
src: local('../font/Learning Curve Dashed Pro'), url('../font/LearningCurveDashed_OT.woff') format('woff');
}

@font-face {
font-family: 'Learning Curve Pro';
font-style: normal;
font-weight: normal;
src: local('../font/Learning Curve Pro'), url('../font/LearningCurve_OT.woff') format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FAE1ED;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img.logo {
	width: 100%;
}

ul, a, a:hover {
	text-decoration: none;
	color: #db5089;
}

.nav_menu{
		margin-top: 50px;
}
.menu{
	cursor: pointer;
	text-align: center;
	margin-top: 24px;
}


.menu a:hover{
	font-size: 85px;
}

.menu a {
	color: #db5089;
	font-family:'Learning Curve Pro';
	font-size: 70px;
}

.menu a span {
	position: relative;
	top: -11px;
}

.menu a img.icon {
		width: 35px;
		margin-right: 10px;
}

body {margin-top: 70px;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.menu a:hover{
		font-size: 85px;
	}

	.menu a {
		font-size: 75px;
	}

	.nav_menu {
	  margin-top: 160px;
	}

	body{margin-top: 30px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.menu a {
		font-size: 30px;
	}
	.nav_menu {
	  margin-top: 78px;
	}

	.menu a:hover{
		font-size: 38px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
